@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img, a {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #7880bc;
  color: #ffe100; 
}

h1 {
  font-family: "SF Distant Galaxy";
}


  .top, .top2{
    display:flex;
   justify-content: center;
   flex-direction: column;
  }
  .header{
    display:flex;
    justify-content: center;
  }


  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }










@media screen and (min-width: 600px) {

  body {
    background-color: #83bc78;

  }


  .top, .top2 {
    display:flex;
    
    flex-direction: row;
  }
  nav{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
  }
}



